<div class="container">

    <div class="container school-info text-left">
        <div class="row">
            <div class="col-12 school-title">
                <span class="category-label">Escola:</span>
                <span>{{schoolDetails.nome}}</span>
            </div>
        <div class="row">
            <div class="col-12 school-categories">
                <span class="category-label">Endereço:</span>
                <span>XXXXXXXX</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 school-categories">
                <span class="category-label">Nível de ensino:</span>
                <span>XXXXXXXX</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 school-categories">
                <span class="category-label">Metodologia de ensino:</span>
                <span>XXXXX</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 school-categories">
                <span class="category-label">Religião:</span>
                <span>XXXXXXX</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 school-categories">
                <span class="category-label">Acessibilidade:</span>
                <span>XXXXXXXX</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 school-categories">
                <span class="category-label">Contato:</span>
                <span>XXXXXXXX</span>
            </div>
        </div>
    </div>
</div>


