<div class="container">
    <div id="googleReviews"></div>

    <div class="container school-info text-left">
        <div class="row">
            <div class="col-12 school-title top">
                <span class="category-label">Escola:</span>
                <span>{{schoolDetails?.nome}}</span>
            </div>
        </div>
        <div class="row topb">
            <div class="col-6 school-title">
                <span class="category-label">Rede:</span>
                <!-- <span>{{schoolDetails.nome}}</span> -->
                <span> Privada </span>
            </div>
            <div class="col-6 school-title text-right">
                <div *ngIf="!reviews">Carregando avaliação...</div>
                <div *ngIf="reviews" style="--rating:{{ reviews.rating }}">
                <span class="category-label">Avaliação:</span>
                    <span class="review-rating"> {{reviews.rating}}</span>
                        <span class="stars-grey" [style.background-image]="'url(/assets/stargrey.svg)'">
                        <span class="stars-gold" [style.background-image]="'url(/assets/stargold.svg)'"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row main">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 school-categories">
                                <span class="category-label">Endereço:</span>
                                <span>{{schoolDetails.endereco}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 school-categories">
                                <span class="category-label">Nível de ensino:</span>
                                <span>{{schoolDetails.nivelMinimo}} até {{schoolDetails.nivelMaximo}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 school-categories">
                                <span class="category-label">Metodologia de ensino:</span>
                                <span>{{schoolDetails.metodologia}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 school-categories">
                                <span class="category-label">Religião:</span>
                                <span>{{schoolDetails.religiao}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 school-categories">
                                <span class="category-label">Acessibilidade:</span>
                                <span>Não informada</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 school-categories">
                                <span class="category-label">Contato:</span>
                                <span>{{schoolDetails.telefone}}</span>
                            </div>
                        </div>
                        <div class="row" *ngIf="schoolDetails?.website">
                            <div class="col-12 school-categories">
                                <span class="category-label">Website:</span>
                                <span>{{schoolDetails.website}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
        
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="map"></div>
            </div>
        </div>

        

        


    </div>
    <div class="container school-place text-right">
        
    </div>


</div>


