<p>school-detail works!</p>
{{schoolDetails}}

Endereço/Nível/Metodologia/Religião/Acessibilidade

<div class="container text-left">
    <div class="row">
        <div class="col-12">
            <span>Escola:</span>
            <span>{{schoolDetails.nome}}</span>
        </div>
    <div class="row">
        <div class="col-12 ">
            <span>Endereço:</span>
            <span>{{schoolDetails.cidade}} - {{schoolDetails.estado}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span>Nível de ensino:</span>
            <span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span>Metodologia de ensino:</span>
            <span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span>Religião:</span>
            <span></span>
        </div>
    </div>
</div>