.school-info {
    padding: 1rem;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
}

.school-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 1rem;
}

.school-categories {
    margin-bottom: .5rem;
}

.category-label {
    font-weight: 500;   
    text-transform: uppercase;
    margin-right: 5px;
}

#map {
    height: 300px;
}

.review-rating {
    padding-right: .5rem;
}

.stars-grey {
    background-size: 30px 20px;
    height: 20px;
    width: 150px;
    background-repeat: repeat-x;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.stars-gold {
    background-size: 30px 20px;
    height: 20px;
    width: calc(100% * (var(--rating) / 5));
    background-repeat: repeat-x;
    display: block;
}