<div class="container-fluid">
    <h1 class="text-center text-uppercase">Metodologias de Ensino</h1>
    <div ngbAccordion>
        <!-- TRADICIONAL -->
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Tradicional</button>
            </h2>
            <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                <p>
                    A metodologia de ensino tradicional é um método convencional de ensino que tem sido amplamente 
                    utilizado ao longo dos anos. Essa abordagem educacional é baseada em um modelo de transmissão de 
                    conhecimento do professor para o aluno, com foco no ensino acadêmico e na preparação para exames. 
                    Aqui estão os principais pontos da metodologia de ensino tradicional:
                <p>
                <ul>
                    <li>
                        Ênfase na transmissão de conhecimento: A abordagem tradicional se concentra na transmissão 
                        do conhecimento por meio de aulas expositivas e instruções diretas do professor. O professor 
                        desempenha o papel central como detentor do conhecimento, enquanto os alunos assumem um papel passivo de receptor.
                    </li>
                    <li>
                        Aulas estruturadas: As aulas são estruturadas e organizadas em tópicos e sequências predefinidas. 
                        O conteúdo é dividido em disciplinas distintas, e os alunos passam por um currículo pré-determinado, 
                        seguindo um cronograma rígido.
                    </li>
                    <li>
                        Avaliação baseada em testes e notas: A avaliação dos alunos é frequentemente baseada em testes padronizados, 
                        provas escritas e atribuição de notas. O desempenho do aluno é medido principalmente por sua capacidade de 
                        reproduzir informações e conceitos apresentados em sala de aula.
                    </li>
                    <li>
                        Passividade do aluno: Nesse modelo, os alunos têm um papel passivo na aprendizagem. Eles são encorajados a ouvir, 
                        memorizar e reproduzir informações, seguindo as instruções do professor. O foco está na assimilação e memorização 
                        de conteúdo.
                    </li>
                    <li>
                        Ênfase no currículo acadêmico: A abordagem tradicional valoriza o ensino acadêmico e o desenvolvimento de habilidades 
                        cognitivas, como leitura, escrita e cálculo. O currículo geralmente prioriza as disciplinas básicas, como matemática, 
                        ciências, língua portuguesa e história.
                    </li>
                    <li>
                        Sala de aula centrada no professor: Na metodologia tradicional, a sala de aula é centrada no professor, que é responsável 
                        por planejar, ministrar as aulas e fornecer as informações aos alunos. O professor é considerado a principal fonte de 
                        conhecimento e autoridade na sala de aula.
                    </li>
                    <li>
                        Pouca ênfase na individualização: A abordagem tradicional geralmente não leva em consideração as necessidades individuais 
                        dos alunos. O ensino é padronizado, com uma abordagem "tamanho único" para todos os alunos, independentemente de suas 
                        habilidades, interesses ou estilos de aprendizagem.
                    </li>
                    <li>
                        Pouco uso de recursos tecnológicos: A metodologia tradicional geralmente tem uma integração limitada de recursos tecnológicos 
                        na sala de aula. O uso de tecnologia é minimizado e o foco principal é na interação entre professor e aluno.
                    </li>
                </ul>
                <p>
                    É importante notar que a metodologia de ensino tradicional tem suas vantagens e desvantagens e tem sido amplamente utilizada em 
                    diferentes contextos educacionais. No entanto, abordagens mais recentes têm buscado explorar outros métodos que valorizam a 
                    participação ativa dos alunos, a construção de conhecimento, a colaboração e a aplicação prática dos conceitos.
                </p>
                </ng-template>
            </div>
            </div>
        </div>
        <!-- ESPIRAL -->
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Espiral Construtivista</button>
            </h2>
            <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                <p>
                    A metodologia de ensino espiral é uma abordagem que busca promover a aprendizagem contínua e 
                    progressiva, onde os conceitos são revisitados e aprofundados ao longo do tempo. Nessa abordagem, 
                    os tópicos são introduzidos de forma básica inicialmente e, posteriormente, são retomados em níveis 
                    crescentes de complexidade. Aqui estão os principais pontos da metodologia de ensino espiral:
                <p>
                <ul>
                    <li>
                        Progressão contínua: A abordagem espiral busca criar uma progressão contínua no aprendizado, 
                        onde os tópicos são introduzidos de maneira gradual e são revisitados ao longo do tempo. 
                        Isso permite que os alunos construam uma base sólida de conhecimento e habilidades, expandindo 
                        gradualmente seu entendimento.
                    </li>
                    <li>
                        Introdução gradual de conceitos: Os conceitos são introduzidos inicialmente de forma básica e simplificada, 
                        para que os alunos possam compreendê-los facilmente. Posteriormente, esses conceitos são retomados e explorados 
                        em maior profundidade, à medida que os alunos avançam nos estudos.
                    </li>
                    <li>
                        Reforço e consolidação: A metodologia espiral enfatiza a consolidação e o reforço dos conceitos aprendidos. 
                        Os tópicos são revisados regularmente, permitindo que os alunos aprimorem sua compreensão e aplicação dos 
                        conceitos, além de desenvolverem uma maior retenção do conhecimento.
                    </li>
                    <li>
                        Construção de conexões: A abordagem espiral incentiva a construção de conexões entre os diferentes tópicos 
                        e áreas de estudo. Os alunos são encorajados a relacionar os conceitos aprendidos, percebendo as interconexões 
                        e aplicando seu conhecimento em situações diversas.
                    </li>
                    <li>
                        Desenvolvimento de habilidades de pensamento crítico: A metodologia espiral promove o desenvolvimento de habilidades 
                        de pensamento crítico e resolução de problemas. À medida que os alunos revisam e aprofundam os conceitos, 
                        são desafiados a analisar, avaliar e aplicar o conhecimento de maneira mais complexa e reflexiva.
                    </li>
                    <li>
                        Individualização do aprendizado: A abordagem espiral permite uma certa individualização do aprendizado, já que os alunos 
                        podem progredir no ritmo que melhor se adequar às suas necessidades e capacidades. Eles têm a oportunidade de revisar e 
                        consolidar conceitos de forma personalizada, conforme avançam em seu próprio ritmo.
                    </li>
                    <li>
                        Flexibilidade no ensino: A metodologia espiral permite uma maior flexibilidade no ensino, adaptando-se às necessidades e 
                        ao progresso dos alunos. Os professores podem ajustar o ritmo, a profundidade e as estratégias de ensino com base nas 
                        respostas e no desempenho dos alunos, garantindo um processo de aprendizagem mais personalizado.
                    </li>
                    <li>
                        Aplicação prática do conhecimento: A abordagem espiral valoriza a aplicação prática do conhecimento em situações reais. 
                        Os alunos são incentivados a utilizar os conceitos aprendidos em contextos práticos e a relacionar o conhecimento teórico 
                        com situações do mundo real.
                    </li>
                </ul>
                <p>
                    Esses são os principais pontos da metodologia de ensino espiral. Essa abordagem busca promover uma progressão gradual, revisão e 
                    aprofundamento dos conceitos, construção de conexões e desenvolvimento de habilidades de pensamento crítico, proporcionando uma 
                    base sólida para o aprendizado contínuo dos alunos.
                </p>
                </ng-template>
            </div>
            </div>
        </div>
        <!-- MONTESSORI -->
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Montessori</button>
            </h2>
            <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                <p>
                    A metodologia Montessori é um método de ensino criado pela médica e educadora italiana Maria Montessori. 
                    Essa abordagem educacional enfatiza a independência, a liberdade com responsabilidade e o respeito pelo 
                    desenvolvimento natural da criança. Aqui estão os principais pontos da metodologia Montessori:
                <p>
                <ul>
                    <li>
                        Ambiente preparado: Os ambientes de aprendizagem Montessori são cuidadosamente projetados para permitir 
                        a autonomia e a exploração das crianças. Eles são organizados e equipados com materiais educativos adequados 
                        ao desenvolvimento de cada faixa etária.
                    </li>
                    <li>
                        Liberdade com responsabilidade: As crianças Montessori têm liberdade para escolher suas atividades dentro do 
                        ambiente preparado. Elas são encorajadas a tomar decisões e a explorar seu próprio ritmo de aprendizagem. 
                        No entanto, essa liberdade é acompanhada da responsabilidade de respeitar os limites do ambiente, dos materiais 
                        e dos outros colegas.
                    </li>
                    <li>
                        Aprendizado baseado na criança: A metodologia Montessori valoriza o desenvolvimento individual de cada criança. 
                        Os professores observam e conhecem as necessidades, interesses e habilidades de cada aluno, adaptando o ensino 
                        para atender às suas necessidades específicas.
                    </li>
                    <li>
                        Materiais educativos Montessori: A abordagem Montessori utiliza uma variedade de materiais educativos manipulativos 
                        e sensoriais. Esses materiais são projetados para ajudar as crianças a desenvolver habilidades cognitivas, físicas 
                        e sociais, promovendo a aprendizagem por meio de experiências práticas e concretas.
                    </li>
                    <li>
                        Aprendizagem multi-idade: Nas salas de aula Montessori, as crianças de diferentes idades são agrupadas juntas. 
                        Essa mistura de idades permite que as crianças aprendam umas com as outras, desenvolvam habilidades sociais e 
                        se tornem mentores uns dos outros.
                    </li>
                    <li>
                        Autocorreção e autoavaliação: Os materiais educativos Montessori são projetados para que as crianças possam 
                        autocorrigir seus erros. Isso incentiva a independência, o autocontrole e a autorreflexão, permitindo que as 
                        crianças identifiquem seus próprios erros e encontrem soluções.
                    </li>
                    <li>
                        Papel do professor: O professor Montessori atua como um guia ou facilitador do aprendizado. Eles observam e 
                        direcionam as crianças individualmente, fornecendo orientação e suporte quando necessário, mas permitindo 
                        que as crianças sigam seu próprio caminho de descoberta e aprendizado.
                    </li>
                    <li>
                        Ênfase no desenvolvimento holístico: A metodologia Montessori busca promover o desenvolvimento holístico da 
                        criança, incluindo o desenvolvimento intelectual, físico, emocional e social. Ela valoriza não apenas o aprendizado 
                        acadêmico, mas também o desenvolvimento das habilidades sociais, da criatividade e da autoestima.
                    </li>
                </ul>
                <p>
                    Esses são apenas alguns dos principais pontos da metodologia Montessori. Essa abordagem tem como objetivo criar um ambiente 
                    de aprendizagem rico, respeitando o ritmo e as necessidades individuais das crianças, estimulando sua curiosidade e 
                    promovendo o desenvolvimento integral.
                </p>
                </ng-template>
            </div>
            </div>
        </div>
        <!-- WALDORF -->
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Waldorf</button>
            </h2>
            <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                <p>
                    A metodologia Waldorf, também conhecida como Educação Waldorf, é um método de ensino baseado nas ideias 
                    do filósofo austríaco Rudolf Steiner. Essa abordagem educacional busca desenvolver as habilidades 
                    intelectuais, artísticas e práticas das crianças, integrando aspectos cognitivos, emocionais e espirituais. 
                    Aqui estão os principais pontos da metodologia Waldorf:
                <p>
                <ul>
                    <li>
                        Desenvolvimento holístico: A abordagem Waldorf enfatiza o desenvolvimento holístico da criança, abrangendo 
                        aspectos intelectuais, emocionais, sociais e espirituais. Ela busca cultivar o intelecto, a imaginação, a 
                        criatividade, a ética e a consciência social dos alunos.
                    </li>
                    <li>
                        Fases de desenvolvimento: A metodologia Waldorf leva em consideração as diferentes fases de desenvolvimento 
                        da criança, dividindo o currículo em blocos de aprendizado que correspondem às diferentes etapas de crescimento. 
                        Cada fase é adaptada às necessidades e interesses específicos das crianças em determinada idade.
                    </li>
                    <li>
                        Ênfase nas artes e atividades práticas: A abordagem Waldorf valoriza as artes, incluindo pintura, desenho, música, 
                        dança e teatro, como formas essenciais de expressão e aprendizado. Além disso, as atividades práticas, como trabalhos 
                        manuais e jardinagem, são incorporadas para desenvolver habilidades motoras e práticas.
                    </li>
                    <li>
                        Ambiente acolhedor e estético: A metodologia Waldorf busca criar um ambiente de aprendizagem acolhedor, esteticamente 
                        agradável e livre de distrações desnecessárias. Os espaços de sala de aula são cuidadosamente organizados, com materiais 
                        naturais e cores suaves, visando proporcionar um ambiente tranquilo e propício à concentração.
                    </li>
                    <li>
                        Enfoque na imaginação e no jogo livre: A abordagem Waldorf valoriza a importância da imaginação e do jogo livre na 
                        aprendizagem das crianças. Ela oferece espaço e tempo para que as crianças brinquem de forma criativa, explorando 
                        e desenvolvendo suas habilidades cognitivas e sociais.
                    </li>
                    <li>
                        Avaliação formativa: Na metodologia Waldorf, a avaliação é baseada principalmente na observação contínua do progresso 
                        da criança, em vez de testes padronizados ou notas. O foco está na compreensão individual do aluno e no desenvolvimento 
                        de suas habilidades, em vez de na classificação e comparação entre os alunos.
                    </li>
                    <li>
                        Importância do professor como modelo: O professor Waldorf desempenha um papel significativo como modelo e guia para as 
                        crianças. Eles cultivam uma relação de confiança e respeito com os alunos, buscando despertar o interesse pela 
                        aprendizagem e orientá-los em sua jornada educacional.
                    </li>
                    <li>
                        Integração da natureza no currículo: A abordagem Waldorf enfatiza a conexão entre as crianças e a natureza. O currículo 
                        inclui atividades ao ar livre, contato com o meio ambiente e exploração da natureza como parte do aprendizado e do 
                        desenvolvimento das crianças.
                    </li>
                </ul>
                <p>
                    Esses são alguns dos principais pontos da metodologia Waldorf. Essa abordagem busca promover uma educação holística, 
                    equilibrando o desenvolvimento intelectual, artístico e prático das crianças, cultivando a imaginação, a criatividade 
                    e uma conexão significativa com o mundo ao seu redor.
                </p>
                </ng-template>
            </div>
            </div>
        </div>
        <!-- PIKLER -->
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pikler</button>
            </h2>
            <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                <p>
                    A metodologia Pikler é uma abordagem educacional criada pela pediatra húngara Emmi Pikler. Essa abordagem enfoca 
                    o desenvolvimento infantil e promove uma relação respeitosa e empática entre adultos e crianças. Aqui estão os 
                    principais pontos da metodologia Pikler:
                <p>
                <ul>
                    <li>
                        Relação de cuidado e respeito: A metodologia Pikler enfatiza a importância de estabelecer uma relação de 
                        cuidado e respeito entre adultos e crianças. Isso significa reconhecer a individualidade de cada criança, 
                        responder às suas necessidades e respeitar seu ritmo de desenvolvimento.
                    </li>
                    <li>
                        Liberdade de movimento: A abordagem Pikler valoriza a liberdade de movimento das crianças desde os primeiros 
                        meses de vida. Ela incentiva que as crianças explorem seu ambiente de forma autônoma, permitindo que elas 
                        desenvolvam suas habilidades motoras e sua independência.
                    </li>
                    <li>
                        Ambiente seguro e desafiador: A metodologia Pikler enfatiza a importância de criar um ambiente seguro e desafiador 
                        para as crianças. O espaço de aprendizagem deve ser adaptado às necessidades e habilidades de cada criança, 
                        proporcionando oportunidades para explorar, brincar e se desenvolver.
                    </li>
                    <li>
                        Tempo de qualidade: A abordagem Pikler valoriza a importância do tempo de qualidade entre adultos e crianças. 
                        Ela incentiva que os adultos dediquem tempo para observar, interagir e se envolver ativamente com as crianças, 
                        promovendo uma conexão emocional e uma comunicação respeitosa.
                    </li>
                    <li>
                        Autonomia e autossuficiência: A metodologia Pikler busca desenvolver a autonomia e a autossuficiência das crianças. 
                        Isso inclui encorajar as crianças a realizar atividades do dia a dia por conta própria, como se vestir, comer e cuidar 
                        de suas necessidades básicas, com o apoio adequado dos adultos.
                    </li>
                    <li>
                        Brincadeira e exploração: A abordagem Pikler valoriza a brincadeira livre e a exploração como formas essenciais de 
                        aprendizado para as crianças. Ela reconhece a importância do jogo autônomo e espontâneo para o desenvolvimento cognitivo, 
                        social e emocional das crianças.
                    </li>
                    <li>
                        Respeito ao ritmo individual: A metodologia Pikler respeita o ritmo individual de cada criança. Ela reconhece que cada criança 
                        é única e se desenvolve em seu próprio tempo. Portanto, os adultos devem estar sensíveis às necessidades individuais de cada 
                        criança e oferecer suporte adequado para o seu desenvolvimento.
                    </li>
                    <li>
                        Papel do adulto como observador e facilitador: Na abordagem Pikler, o papel do adulto é o de observador e facilitador 
                        do desenvolvimento da criança. Os adultos devem estar atentos às necessidades, interesses e limites das crianças, 
                        oferecendo apoio e estimulando seu desenvolvimento de forma respeitosa.
                    </li>
                </ul>
                <p>
                    Esses são alguns dos principais pontos da metodologia Pikler. Essa abordagem busca promover um ambiente seguro, respeitoso 
                    e desafiador para as crianças, permitindo que elas se desenvolvam de forma independente, respeitando seu ritmo individual 
                    e incentivando sua autonomia.
                </p>
                </ng-template>
            </div>
            </div>
        </div>
    </div>
    
<!-- 
    <div class="methodology">
        <h2 class="text-uppercase methodology__title">Tradicional</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions 
            of Lorem Ipsum
        </p>
    </div>
    <div class="methodology">
        <h2 class="text-uppercase methodology__title">Espiral Construtivista</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions 
            of Lorem Ipsum
        </p>
    </div>
    <div class="methodology">
        <h2 class="text-uppercase methodology__title">Montessori</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions 
            of Lorem Ipsum
        </p>
    </div>
    <div class="methodology">
        <h2 class="text-uppercase methodology__title">Waldorf</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions 
            of Lorem Ipsum
        </p>
    </div>
    <div class="methodology">
        <h2 class="text-uppercase methodology__title">Pikler</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions 
            of Lorem Ipsum
        </p>
    </div>-->
</div> 