<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img class="header__logo" src="assets/encontra.png">
        </a>

        <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
        </ul> -->

        <form [formGroup]="formGroup" class="col-12 col-lg-6 mb-3 mb-lg-0 me-lg-3" role="search">
            <mat-form-field class="col-12">
              <mat-label>
                Busca por nome da escola
              </mat-label>
              <input formControlName="employee" matInput type="text" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of filteredOptions" [value]="item.nome">
                  <a (click)="goTo('/school/'+item.cod)" class="clickable">{{item.nome}}</a>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
           <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> 
          <input 
            id="school" 
            #schoolSearchInput 
            placeholder="Search School By Name" 
            class="form-control" 
            type="text" 
            autocomplete="off" 
            (click)="showSearches = true"
            >

             DropDown Starts  
                <div class="card" [hidden]="!showSearches">
                    <div class="search">
                    <div *ngFor="let car of searchedSchools; trackBy: trackById" tappable (click)="setSchoolName(car)" class="search-result">
                        {{car}}
                    </div>     
                    </div>
                    <p class="search" *ngIf="searchedSchools && searchedSchools.length <= 0 && !isSearching">No School found</p>
                    <p class="search" [hidden]="!isSearching">Searching schools...</p>
                </div>
              DropDown Ends  
        </form> -->

        <div class="btn-group text-end" dropdown>
          <button 
          class="btn btn-link dropdown-toggle"
       
          dropdownToggle
          type="button"    
          aria-controls="dropdown-animated"
          >
            <img src="assets/001-brasil.png" alt="mdo" width="32" height="32" class="rounded-circle"> {{siteLanguage}}
          </button>
          <!-- <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul> -->
          
            <ul
              id="dropdown-animated"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-animated"
            >
            <ng-container *ngFor="let language of languageList">
              <li role="menuitem">
                <a
                class="dropdown-item"
                (click)="changeSiteLanguage(language.code)">
                  {{ language.label }}
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="d-flex flex-wrap align-items-center justify-content-between header__bottom-row" >
        <ul class="nav col-12  justify-content-center align-items-center">
          <!-- <li><a (click)="goTo('questionnaire')" class="nav-link px-2 link-dark clickable">Questionário</a></li> -->
          <li><a routerLinkActive="active" routerLink="/questionnaire" class="nav-link px-2 link-dark clickable">{{"menu.method-questionnaire" | translate}}</a></li>
          <li><a routerLinkActive="active" routerLink="/school-methodologies" class="nav-link px-2 link-dark clickable">{{"menu.methods" | translate}}</a></li>
          <li><a routerLinkActive="active" routerLink="/school-search"  class="nav-link px-2 link-dark clickable">{{"menu.school-search" | translate}}</a></li>
          <li><a routerLinkActive="active" routerLink="/questionnaire" class="nav-link px-2 link-dark clickable">{{"menu.career-test" | translate}}</a></li>
          <!-- <li><a href="#" class="nav-link px-2 link-dark">Products</a></li> -->
        </ul>
      </div>
    </div>
  </header>