<div class="footer-container">
  <footer class="py-5 container">
    <div class="row">
      <div class="col-6 ">
        <p>
          Nossa ferramenta permite que pais e responsáveis tomem decisões mais
          informadas e embasadas ao escolherem a melhor instituição de ensino para
          suas crianças, valorizando a individualidade, criatividade e desenvolvimento
          integral  dos alunos.
          Te desejamos boas vindas à uma jornada de busca educacional mais consciente e 
          personalizada para o futuro das novas gerações!
        </p>
      </div>
      <div class="col-6">
        <form>
          <h5>Cadastre seu email.</h5>
          <p>Receba nossas novidades.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email">
            <button class="btn btn-primary" type="button">Cadastre-se</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 Encontra Escola. Todos os direitos reservados.</p>

    </div>
  </footer>
</div>
