$gray: #878686;
$purple: #832161;
$beige: #EEF5DB;
$blue: #094074;
$blue-logo: #004aad;
$black: #0D090A;
$logo-yellow: #f4c01e;
$logo-purple: #8c52ff;
$logo-purple-darker: #6139af;

.footer-container {
    background: #004aad;
    margin-top: 50px;
    color: white;

    h5 {
        font-size: 18px;
    }

    button {
        background:#6139af;
        width: 180px;
    }
}